.error-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 600px;
        width: 100%;
        .count {
            @include heading_1;
        }
        .desc {
            @include subtitle;
            font-weight: 600;
            text-align: center;
        }
    }
}