.hero-section {
    background-color: $bg-secondary-dark;
    height: 80vh;
   
    @media screen and (max-width: 768px) {
        margin-top: 80px;
        height: 50vh;
    }
    .hero-block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .title-block {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 800px;
            width: 100%;
            @media screen and (max-width: 375px) {
                max-width: 350px;
              }
            .title {
                color: $text-primary-dark;
                @include heading_1;
            }
            .desc {
                color: $text-tertiary-dark;
                @include subtitle;
            }
        }
    }

}