.header {
    position: relative;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
    background-color: $bg-primary-dark;
    
    &.transparent {
        background-color: transparent;
        justify-content: start;
        padding-left: 32px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        
    }
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        &.profile {
            border-bottom: 1px #86EFAC solid;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
           }
       
    }
   &__btn-block {
    display: flex;
    justify-content: end;
   }
   &__logo {
    display: flex;
    align-items: center;
   }
 
}