<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <title>Авторизация</title>
</head>
<body style="display: flex; height: 100vh; justify-content: center; align-items: center; background-color: #E4E4E7; padding: 0px 12px;">
    <header class="header sticky transparent">
        <div class="header__logo">
            <img src="../static/images/svg/logo-dark.svg" alt="">
        </div>
    </header>
    <div class="reg">
        <div class="text1">
            <h1>Войдите, чтобы начать отслеживать статистику сотрудников</h1>
        </div>
        <a class="google" href="#!" >
            <img src="../static/images/svg/Google Logo.svg" alt="#">
            <p>Продолжить с помощью Google</p>
        </a>
        <div class="email">
            <p>Почта</p>
            <input type="email" placeholder="Введите Email">
        </div>
        <div class="password">
            <p>Пароль</p>
            <input type="password" placeholder="Введите пароль">
        </div>
        <div class="click">
            <input type="checkbox" checked="checked">
            <p>Запомни меня</p>
        </div>
        <a class="btn black small" href="">
            <p>Войти</p>
        </a> 
        <div class="vosstanovka">
            <a href="">Забыли пароль?</a>
        </div>
    </div>
</body>
</html>