@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.p-24 {
  padding: 24px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); /* Создаем адаптивные колонки */
  gap: 0 20px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 600px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 350px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #E4E4E7;
}

html {
  scrollbar-color: #1E3A8A;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.default-margin {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .default-margin {
    padding: 32px 0px;
  }
}

.header {
  position: relative;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s;
  background-color: #18181B;
}
.header.transparent {
  background-color: transparent;
  justify-content: start;
  padding-left: 32px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__btn-block {
  display: flex;
  justify-content: end;
}
.header__logo {
  display: flex;
  align-items: center;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #27272A;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer .container {
    gap: 12px;
    flex-direction: column;
    align-items: start;
  }
}
.footer .container .copyright {
  color: #F4F4F5;
  opacity: 0.5;
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .footer .container .copyright {
    font-size: 14px;
  }
}
.footer .container .links {
  display: flex;
  gap: 36px;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  width: fit-content;
  cursor: pointer;
  color: #F4F4F5;
  padding: 25px 92px;
  border-radius: 5px;
  transition: background 0.5s ease;
  text-decoration: none;
}
.btn.blue {
  background: linear-gradient(90deg, rgb(30, 64, 175) 0%, rgb(37, 99, 235) 47%, rgb(96, 165, 250) 100%);
}
.btn.blue.small {
  padding: 8px 92px;
}
.btn.blue:hover {
  background: linear-gradient(270deg, rgb(30, 64, 175) 0%, rgb(37, 99, 235) 47%, rgb(96, 165, 250) 100%);
}
.btn.black {
  background-color: #27272A;
}
.btn.black.small {
  padding: 8px 92px;
}
.btn.black:hover {
  background-color: #18181B;
}
.btn.dark-black {
  padding: 12px;
  border-radius: 8px;
  background-color: #18181B;
  border: 1px solid #27272A;
}
.btn.dark-black:hover {
  background-color: #27272A;
}
.btn.green {
  padding: 16px 14px;
  background-color: #BBF7D0;
  border: 2px solid #15803D;
  border-radius: 8px;
  color: #15803D;
}
.btn.green:hover {
  background-color: #86EFAC;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 15px 50px;
  }
}

.reg {
  gap: 24px;
  padding: 48px;
  display: flex;
  border-radius: 48px;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: #F4F4F5;
  box-shadow: -15px 15px 30px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 375px) {
  .reg {
    padding: 24px;
    border-radius: 24px;
  }
}
.reg .text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  text-align: center;
  width: 100%;
}
.reg .text1 h1 {
  font-size: 21px;
}
.reg .google {
  gap: 8px;
  color: #0d0d0d;
  border-radius: 8px;
  padding: 8px 22px;
  background-color: #E3E3E3;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #A1A1AA;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.reg .google:hover {
  background-color: #D4D4D8;
}
.reg .btn {
  padding: 12px 0px !important;
  width: 100%;
}
.reg .click {
  display: flex;
  align-items: start;
  gap: 12px;
  width: 100%;
}
.reg .click input[type=checkbox i] {
  width: 16px;
  height: 16px;
  border-radius: 1px solid #757575;
  border-radius: 4px;
  accent-color: #0d0d0d;
}
.reg .vosstanovka {
  display: flex;
  width: 100%;
}
.reg .vosstanovka a {
  color: #1E1E1E;
  text-align: start;
}
.reg .email,
.reg .password {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.reg .email input,
.reg .password input {
  border-radius: 8px;
  border: 0;
  outline: 1px solid #A1A1AA;
  padding: 12px 16px;
}
.reg .email input::placeholder,
.reg .password input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #B3B3B3;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 0px;
  left: 0;
  max-width: 280px;
  height: 80%;
  width: 100%;
  background-color: #fff;
  box-shadow: -15px 15px 30px 20px rgba(0, 0, 0, 0.1);
}
.sidebar .manipulation {
  padding: 24px;
}
.sidebar .manipulation .title {
  padding-top: 24px;
  font-size: 12px;
  font-weight: 600;
  color: #959FA3;
}
.sidebar .manipulation ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar .manipulation ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar .manipulation ul li a {
  text-decoration: none;
  color: #626C70;
  font-size: 14px;
  font-weight: 600;
}

.accordion-container .accordion-item .accordion-header {
  display: flex;
  gap: 12px;
  padding: 10px 24px;
  color: #626C70;
}
.accordion-container .accordion-item .accordion-header.active {
  color: #191B1C;
}
.accordion-container .accordion-item .accordion-content {
  display: none;
  margin-left: 56px;
  flex-direction: column;
  gap: 4px;
  color: #626C70;
}
.accordion-container .accordion-item .accordion-content .title {
  padding: 4px 0;
}
.accordion-container .accordion-item .accordion-content .title.active {
  color: #4ADE80;
}

.hero-section {
  background-color: #27272A;
  height: 80vh;
}
@media screen and (max-width: 768px) {
  .hero-section {
    margin-top: 80px;
    height: 50vh;
  }
}
.hero-section .hero-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero-section .hero-block .title-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .hero-section .hero-block .title-block {
    max-width: 350px;
  }
}
.hero-section .hero-block .title-block .title {
  color: #F4F4F5;
  font-size: 72px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero-section .hero-block .title-block .title {
    font-size: 32px;
  }
}
.hero-section .hero-block .title-block .desc {
  color: #A1A1AA;
  font-weight: 400;
  line-height: 120%;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .hero-section .hero-block .title-block .desc {
    font-size: 16px;
  }
}

.about-section {
  background-color: #E4E4E7;
}
.about-section .about-block .container {
  gap: 24px;
}
.about-section .about-block .container .text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-section .about-block .container .text-block .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  text-transform: none;
  color: #18181B;
}
@media screen and (max-width: 768px) {
  .about-section .about-block .container .text-block .title {
    font-size: 20px;
  }
}
.about-section .about-block .container .text {
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
  color: #27272A;
}
@media screen and (max-width: 768px) {
  .about-section .about-block .container .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .about-section .about-block .container .text {
    grid-column: span 2;
  }
}
.about-section .about-block .container .btn-block {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.about-section .about-block .container .btn-block .title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-transform: none;
}
@media screen and (max-width: 768px) {
  .about-section .about-block .container .btn-block .title {
    font-size: 24px;
  }
}

.info-section .info-block.gray {
  background-color: #E4E4E7;
}
.info-section .info-block .container {
  gap: 36px;
}
.info-section .info-block .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.info-section .info-block .container .text .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .info-section .info-block .container .text .title {
    font-size: 20px;
  }
}
.info-section .info-block .container .text .desc {
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .info-section .info-block .container .text .desc {
    font-size: 14px;
  }
}
.info-section .info-block .container .btn-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.info-section .info-block .container .btn-block .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  text-transform: none;
}
@media screen and (max-width: 768px) {
  .info-section .info-block .container .btn-block .title {
    font-size: 20px;
  }
}
.info-section .info-block .container .list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.info-section .info-block .container .list .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .info-section .info-block .container .list .title {
    font-size: 20px;
  }
}
.info-section .info-block .container .list ul {
  display: flex;
  flex-direction: column;
  list-style: disc;
  margin-left: 30px;
  gap: 10px;
}
.info-section .info-block .container .list ul li {
  font-weight: 400;
  line-height: 120%;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .info-section .info-block .container .list ul li {
    font-size: 16px;
  }
}
.info-section .info-block .container .img {
  width: 100%;
}
.info-section .info-block .container .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description-section {
  background-color: #E4E4E7;
}
.description-section .description-block .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-section .description-block .text .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .description-section .description-block .text .title {
    font-size: 20px;
  }
}
.description-section .description-block .text .desc {
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
  display: -webkit-box;
  display: block;
  -webkit-line-clamp: 4; /* Количество строк, которое нужно показать */
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 55px;
}
@media screen and (max-width: 768px) {
  .description-section .description-block .text .desc {
    font-size: 14px;
  }
}
.description-section .description-block .text .desc.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
}
.description-section .description-block .text .toggle-btn {
  color: #27272A;
  border: none;
  padding: 5px;
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
  cursor: pointer;
  color: #1E3A8A;
  opacity: 0.7;
  transition: all 0.3s ease;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .description-section .description-block .text .toggle-btn {
    font-size: 14px;
  }
}
.description-section .description-block .text .toggle-btn:hover {
  opacity: 1;
}

.error-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.error-block .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  width: 100%;
}
.error-block .text .count {
  font-size: 72px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .error-block .text .count {
    font-size: 32px;
  }
}
.error-block .text .desc {
  font-weight: 400;
  line-height: 120%;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .error-block .text .desc {
    font-size: 16px;
  }
}

.banner-section {
  margin-left: 290px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.banner-section .bannder-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.banner-section .bannder-block .top {
  width: 100%;
  border-radius: 8px;
}
.banner-section .bannder-block .top img {
  max-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0;
}
.banner-section .bannder-block .down {
  background-color: #F4F4F5;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}
.banner-section .bannder-block .down .avatar {
  position: absolute;
  top: 25%;
  left: 2%;
}
.banner-section .bannder-block .down .data {
  margin-top: 24px;
  margin-bottom: 36px;
  margin-left: 270px;
}
.banner-section .bannder-block .down .data .name {
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .banner-section .bannder-block .down .data .name {
    font-size: 14px;
  }
}

.profile-main-section {
  margin-left: 290px;
}
.profile-main-section .profile-main-block .container-profile {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  font-size: 14px;
}
.profile-main-section .profile-main-block .container-profile .bio {
  background-color: #fff;
  grid-column: span 1;
  border-radius: 8px;
}
.profile-main-section .profile-main-block .container-profile .bio .bio-title {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(149, 159, 163, 0.3215686275);
  font-size: 16px;
  font-weight: 600;
}
.profile-main-section .profile-main-block .container-profile .bio .about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.profile-main-section .profile-main-block .container-profile .bio .about .desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-main-section .profile-main-block .container-profile .bio .about .desc .title {
  font-weight: 600;
}
.profile-main-section .profile-main-block .container-profile .bio .about .desc .text {
  color: #959FA3;
}
.profile-main-section .profile-main-block .container-profile .bio .about .bio-data {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}
.profile-main-section .profile-main-block .container-profile .bio .about .bio-data .item {
  color: #191B1C;
}
.profile-main-section .profile-main-block .container-profile .bio .about .bio-data .item.gray {
  color: #959FA3;
}
.profile-main-section .profile-main-block .container-profile .bio .about .social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile-main-section .profile-main-block .container-profile .bio .about .social-media .title {
  font-weight: 600;
}
.profile-main-section .profile-main-block .container-profile .bio .about .social-media .icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-main-section .profile-main-block .container-profile .bio .about .social-media .icons a {
  text-decoration: none;
}
.profile-main-section .profile-main-block .container-profile .last-activity {
  grid-column: span 3;
  grid-row: span 2;
}
.profile-main-section .profile-main-block .container-profile .info {
  background-color: #fff;
  grid-column: span 1;
  border-radius: 8px;
}
.profile-main-section .profile-main-block .container-profile .info .bio-title {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(149, 159, 163, 0.3215686275);
  font-size: 16px;
  font-weight: 600;
}
.profile-main-section .profile-main-block .container-profile .info .info-block {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-main-section .profile-main-block .container-profile .info .info-block .item {
  display: flex;
  gap: 16px;
}
.profile-main-section .profile-main-block .container-profile .info .info-block .item .icon {
  padding: 3px;
}
.profile-main-section .profile-main-block .container-profile .info .info-block .item .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.profile-main-section .profile-main-block .container-profile .info .info-block .item .text .count {
  font-weight: 600;
  color: #959FA3;
  font-size: 12px;
}
.profile-main-section .profile-main-block .container-profile .info .info-block .item .text .value {
  font-size: 16px;
  color: #191B1C;
}

/*# sourceMappingURL=main.css.map */
